MYSQL_ROOT_PASSWORD=

# MariaDB Database Settings (this creates the user)
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# WordPress Connection Settings (This MUST match the above)
WORDPRESS_DB_HOST=
WORDPRESS_DB_USER=        
WORDPRESS_DB_PASSWORD=    
WORDPRESS_DB_NAME=  

# WordPress Admin Credentials
WORDPRESS_USER=
WORDPRESS_PASSWORD=